.header-image__wrapper {
    width: calc(120 * 2vw);
    height: calc(100vh + 10vh);
}

.header-image__wrapper img {
    position: relative;
    top: -20vh;
    right: 90vw;
    width: inherit;
    height: inherit;
    z-index: -2;
}

/* .span__animation {
    animation-duration: 60s;
    animation-iteration-count: 5; 
    animation-timing-function: linear;
    animation-name: span;

}

@keyframes span {
    0% {
        right: 90vw;
    }

    50% {
        right: 40vw;
    }

    100% {
        right: 90vw;
    }
} */