.header-image {
    width: 100vw;
    height: calc(100vh - 12vh);
    margin-bottom: 4rem;
}

.header-image img {
    width: 200vh;
    height: 100vh;
    position:absolute;
    top: 0;
    left: -162vw;
    z-index: -1;
} 

.span-animation {
    animation-duration: 20s;
    animation-iteration-count: 5; 
    animation-timing-function: linear;
    animation-name: span;

}

@keyframes span {
    0% {
        left: -165vw;
    }

    50% {
        left: -140vw;
    }

    100% {
        left: -165vw;
    }
}