@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Fira+Sans&family=Lato:wght@300;400&family=Open+Sans:wght@300&display=swap');
    
.page {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    list-style: none;
}

.sidedrawer {
    margin: 1rem 0;
}

.footer {
    display: inline;
}

.pipe::after {
    content: '|';
    margin: 0 1rem;
}