@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Fira+Sans&family=Lato:wght@300;400&family=Open+Sans:wght@300&display=swap');

.profile-pic {
    display: block;
    border-radius: 50%;
    width: 80vw;
    margin: 2rem auto;
}

.job-title {
    font-style: italic;
    margin-top: 0.5rem;
}
