.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    margin: 2rem 0;
}

.project {
    width: 100%;
}

.project img {
    width: inherit;
}

.project h3 {
    color: black;
    margin-top: 1rem;
}

.project h4 {
    color: #999999;
    margin-top: 0.5rem 
}

.project:hover {
    cursor: pointer;
}

@media (min-width: 540px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }

    .project {
        width: 35vw;
    }
}