.line1,
.line2,
.line3 {
  background-color: black;
  width: 32px;
  height: 1px;
  margin: 0.5rem 0;
}

.line1,
.line3 {
    transition: transform 300ms ease-out, opactiy 300ms ease-out;
}

.close.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.close.line2 {
    opacity: 0;
}

.close.line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
