.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  width: 100vw;
  height: 10vh;
  min-height: 3rem;
  padding: calc(10vh * 0.05) 8%;
  transition: visibility 1.5s ease-out, background-color 1.5s ease-out, opacity 1.5s ease-out;
}

.nav-background {
  background-color: #fcf3ec;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 8vw;
  min-width: 7.5rem;
  transition: fill 1.2s ease-out;
}

.logo:hover {
  fill: #5a5858;
}

.grey-fill {
  fill: #9c9c9c;
}

.black-fill {
  fill: black;
}

