.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  height: 12vh;
  padding: 0.5rem;
  transition: visibility 1.5s ease-out, background-color 1.5s ease-out, opacity 1.5s ease-out;
}

.nav-background {
  background-color: #fcf3ec;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
}

.nav-logo {
  width: 200px;
  height: auto;
}

.grey-fill {
  fill: #9c9c9c;
}

.black-fill {
  fill: black;
}
