.sidedrawer {
    visibility: hidden;
    width: 100vw;
    position: fixed;
    top: -12vh;
    z-index: 5;
    background: #999999bb;
    transition: visibility 1.5s linear, top 1.5s ease-out;
}

.show-sidedrawer {
    visibility: visible;
    top: 12vh;
}

.pagelist-wrapper {
    text-align: center;
    margin: 2rem auto;
    padding: 0;
}
