.cross {
    position: absolute;
    right: 0;
    height: 32px;
    margin: 0.5rem;
}
.line1,
.line2 {
    background-color: white;
    width: 32px;
    height: 1px;
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(135deg); 
}