.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    background: #999999bb;
    padding: 0.5rem;
}

.logo-wrapper {
    width: 200px;
    fill: white;
    height: auto;
}