.side-drawer {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 5;
    background: #999999bb;
}

.logo-wrapper {
    fill: white;
    width: 300px;
    height: auto;
    margin: 2rem auto;
}

.pagelist-wrapper {
    text-align: center;
    margin: 2rem auto;
    padding: 0;
}
