.nav {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 5;
    width: 300px;
    height: 100vh;
    background: #999999bb;
    color: white;
    padding: 1rem;
}

.logo-wrapper {
    fill: white;
    width: 300px;
    height: auto;
    margin: 2rem auto;
}

.pagelist-wrapper {
    text-align: center;
    margin: 2rem auto;
    padding: 0;
}
