.background-container {
  width: 100vw;
  height: 90vh;
  margin-bottom: 4rem;
}
.background-image {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 110%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.span-animation {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: span;
}
@keyframes span {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
