.connect-link {
    display: block;
    background-color: #999999;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    width: 150px;
    margin: 4rem auto;
    padding: 0.5rem 2rem;
}

.connect-link:hover {
    background-color: #5a5858;
    color: whitesmoke
}