.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery img {
    margin: 1rem auto;
    width: auto;
    min-width: 18rem;
    max-width: 40%;
    height: auto;
}

.opacity {
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-name: fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 540px) {
    .gallery {
        flex-wrap: nowrap;
    }

    .gallery img {
        margin: 2rem 2;
    }
}