.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.gallery img {
  margin: 1rem 0;
  width: 100%;
  min-width: 13rem;
  height: auto;
  transition: filter ease-out 300ms;
}

@media (min-width: 540px) {
  .gallery {
    flex-wrap: nowrap;
  }

  .gallery img {
    margin: 2rem 2;
    width: auto;
    max-width: 40%;
    margin: 1rem 1rem;
  }
}

@media (min-width: 700px) {
  .gallery img {
    margin: 2rem 2rem;
  }
}
